<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Apellido:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>E-mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>
