<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> No se puede guardar esta opini&oacute;n:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Titulo' %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Opinion' %><br />
    <%= f.text_field :body %>
  </div>
  <div class="field">
    <%= f.label 'Puntuacion' %><br />
    <%= f.number_field :rate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
